# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_BOT_PASSWORD=12345

# Email
EMAIL_HOST=smtp.your-provider.com
EMAIL_PORT=587
EMAIL_USER=info@prozhaluzi.ru
EMAIL_PASS=your_email_password

# Server
PORT=3001
CORS_ORIGIN=http://localhost:4321
